<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Game,游戏分享平台,数据分享平台,softlife" />
    <meta name="description" content="一个网络游戏分享平台，通过对游戏进行多维度的数据分析，让用户能在充分了解游戏过程中的难点与收益时效，为用户的“投资决策”提供必要的数据解决方案." />
    <title>@ViewData["Title"] - www.softlife.tk</title>
    <!--主要對游戲進行分類，提供游戲數據分析，幫助用戶選擇好玩的游戲，對游戲廠家提高用戶的體驗度，以游戲增值服務：注冊、充值、個人喜好訂閲，游戲直播分享-->
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <!--global CSS define-->
        <link rel="stylesheet" href="~/css/common.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/common.nav.css" asp-append-version="true" />
        <!--jquery-->
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <!--vue-->
        <script src="~/lib/vue/vue.js" asp-append-version="true"></script>
    </environment>
    
    <environment include="Production">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <!--global CSS define-->
        <link rel="stylesheet" href="~/css/common.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/common.nav.css" asp-append-version="true" />
        <!--jquery-->
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <!--vue-->
        <script src="~/lib/vue/vue.min.js" asp-append-version="true"></script>
    </environment>
</head>
<body>
    <nav class="softlife-navbar">
            <div class="softlife-navbar-header">
                <button type="button" class="softlife-navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("www.softlife.tk", "Index", "Home", new { area = "" }, new { @class = "softlife-navbar-brand" })
            </div>
            <div class="softlife-navbar-content">
                <ul class="softlife-navbar-ualink">
                    <li>@Html.ActionLink("主页", "Index", "EHaiker")</li>
                    <li>@Html.ActionLink("游戏攻略", "Index", "GameStrategies")</li>
                    <li>@Html.ActionLink("游戏集萃", "Index", "GameCenter")</li>
                    <li>@Html.ActionLink("公告中心", "Index", "NewsCenter")</li>
                    <li>@Html.ActionLink("管理员登录", "Index", "AdminLogin")</li>
                    <li>@Html.ActionLink("客服中心", "Index", "Servicescenter")</li>
                    <li>@Html.ActionLink("个人中心", "Index", "Personal")</li>
                    <li>@Html.ActionLink("下载中心", "Index", "Downloadcenter")</li>
                    <li>@Html.ActionLink("Q&Solutions", "Index", "ItBlog")</li>
                    <li>@Html.ActionLink("Orders", "Index", "EHaiker")</li>
                    <li class="guanzhumenu" id="guanzhumenu">
                        关注微信
                        <div class="guanzhuBox" id="guanzhuBox">
                            <img src="/public/wx_gzhu.jpg" alt="关注我">
                        </div>
                    </li>
                </ul>
            </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="body-content">
        @RenderBody()
        <hr />
        <div class="footer-box">
            <p class="p-link">
                <a href="@Url.Content("/AboutMe/forjob.html")" target="_blank" rel="nofollow">关于站长</a>
                <a href="@Url.Content("/AboutMe/forjob.html")" target="_blank">联系站长</a>
                <a href="#" target="_blank" rel="nofollow">广告合作</a>
                <a href="@Url.Content("/myaff/racknerdvps.html")" target="_blank" rel="nofollow">国外便宜VPS主机</a>
            </p>  
        </div>
        <!--统计页底-->
        <div style="display:none;">

            <script type="text/javascript" src="//js.users.51.la/19883215.js"></script>
        </div>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
