<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Game,游戏分享平台,数据分享平台,ehaiker" />
    <meta name="description" content="gameshared是一个网络游戏分享平台，通过对游戏进行多维度的数据分析，让用户能在充分了解游戏过程中的难点与收益时效，为用户的“投资决策”提供必要的数据解决方案." />
    <title>@ViewData["Title"] - gameshared</title>
    <!--主要對游戲進行分類，提供游戲數據分析，幫助用戶選擇好玩的游戲，對游戲廠家提高用戶的體驗度，以游戲增值服務：注冊、充值、個人喜好訂閲，游戲直播分享-->
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <!--global CSS define-->
        <link rel="stylesheet" href="~/css/common.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/common.nav.css" asp-append-version="true" />
        <!--jquery-->
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <!--vue-->
        <script src="~/lib/vue/vue.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <!--global CSS define-->
        <link rel="stylesheet" href="~/css/common.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/common.nav.css" asp-append-version="true" />
        <!--jquery-->
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <!--vue-->
        <script src="~/lib/vue/vue.js" asp-append-version="true"></script>
    </environment>
    <style>
        .body-content {
            margin-top: 30px;
        }

        .top-login-info {
            float: left;
            display: block;
            padding: 15px 15px;
        }

            .top-login-info #header-login-info {
                padding-top: 15px;
                padding-bottom: 15px;
                line-height: 20px;
            }
    </style>
    

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">netcoreweb</a>*@
                @Html.ActionLink("www.esometea.xyz", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "ManagerMain")</li>//
                    <li>@Html.ActionLink("管理", "AdminManage", "ManagerMain")</li>
                    <li>@Html.ActionLink("會員管理", "membershipManage", "ManagerMain")</li>
                    <li>@Html.ActionLink("游戏管理", "GameManage", "ManagerMain")</li>
                    <li>@Html.ActionLink("游戏攻略管理", "GameStragesManage", "ManagerMain")</li>
                    <li>@Html.ActionLink("充值审核", "BillManage", "ManagerMain")</li>
                    <li>@Html.ActionLink("留言管理", "Index", "CommentStrate")</li>
                    <li>@Html.ActionLink("公告管理", "ShowNewsEx", "NewsCenter")</li>
                    <li>@Html.ActionLink("发布公告", "AddNews", "ManagerMain")</li><!--到时升级未公告管理-->
                    <!--<li>@Html.ActionLink("用户游戏审核", "Index", "ManagerMain")</li>
    <li>@Html.ActionLink("用户攻略审核", "Add", "ManagerMain")</li>
    <li>@Html.ActionLink("發佈新游戲", "NewGame", "ManagerMain")</li>
    <li>@Html.ActionLink("发布新攻略", "Index", "ManagerMain")</li>-->
                    <li>@Html.ActionLink("数据统计", "Index", "ManagerMain")</li>
                    <li>@Html.ActionLink("权限管理", "Index", "Permissions")</li>
                    <li>@Html.ActionLink("组管理", "Index", "Groups")</li>
                    <li>@Html.ActionLink("组权限管理", "Index", "GroupPermissionBinders")</li>

                </ul>

            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - www.esometea.xyz</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/vue/vue.js" asp-append-version="true"></script>
        <script charset=utf-8 language=javascript src="~/js/common.nav.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/vue/vue.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/vue/vue.min.js" asp-append-version="true"></script>
        <script charset=utf-8 language=javascript src="~/js/common.nav.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
