@{
    ViewBag.Title = "會員中心";
    Layout = "_MemberShipLayout";
}
<style>

    .footer-box .p-link > a + a, .small-nav .right-menu .child-menu + .child-menu {
        border-left: 1px solid #e0e0e0
    }

    .more-a {
        display: block;
        width: 42px;
        height: 42px;
        background: url(/public/more.png) no-repeat 0 0;
        position: absolute;
        top: 0;
        right: 0
    }

    .news-box {
        border: none;
        position: relative;
        margin: 0 0 0 0
    }

        .news-box h3 {
            line-height: 42px;
            padding-left: 0px;
            color: #333;
            font-size: 18px;
            font-weight: 400;
            margin: 0 0 0 0
        }

            .news-box h3 .icon {
                float: left;
                width: 3px;
                height: 17px;
                background: #31c37c;
                margin: 13px 8px 0 0
            }

            .news-box h3 .more-a {
                display: block;
                width: 42px;
                height: 42px;
                background: url(/public/more.png) no-repeat 0 0;
                position: absolute;
                top: 0;
                right: 0
            }

                .news-box h3 .more-a:hover {
                    color: #31c37c;
                    text-decoration: none;
                    background-position: 0 -42px
                }

        .news-box ul {
            margin: 8px 0 0 2px;
            border: none;
        }

        .news-box li {
            border: none;
            line-height: 30px;
            height: 34px;
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
        }

            .news-box li .news-href {
                color: #576077
            }

                .news-box li .news-href:hover {
                    color: #2da867;
                    text-decoration: none
                }

                    .news-box li .news-href:hover .spot {
                        background: #2da867
                    }

        .news-box .news-href .spot {
            display: inline-block;
            width: 3px;
            height: 3px;
            background: #999;
            vertical-align: middle;
            margin: -1px 6px 0 0
        }

 
</style>


<!--kk-->
<div class="container mainPage" id="app">
    <!--轮播行-->
    <div id="flashads" class="row">
        <div class="col-md-12 col-lg-12" style="padding:0;">
            <div id="myCarousel" class="carousel slide col-md-12 col-lg-12" style="height:200px; padding:0;overflow:hidden;" data-ride="carousel" data-wrap="true" data-interval="2000">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/images/banner1.svg" alt="First slide">
                    </div>
                    <div class="item">
                        <img src="~/images/banner2.svg" alt="Second slide">
                    </div>
                    <div class="item">
                        <img src="~/images/banner3.svg" alt="Third slide">
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <!--左边个人信息展示-->
    <div id="app2" class="row">
        <div id="leftblock" style="float:left;border:1px solid #e8e8e8;padding-right:0;height:300px;overflow:hidden;" class="news-box col-md-3 col-xs-3 col-sm-3">
            <div class="news-box">
                <h3><i class="glyphicon glyphicon-user"></i>用户信息<a href="../Person/UserInfo" class="more-a"></a></h3>
                <ul class="list-group">
                    <li class="list-group-item" style="border:none;">
                        <strong>用户名：</strong>@if (Model.UserId == 0)
                        {<a href="../Account/Login">登录后显示</a> }
                        else
                        {@Model.UserName;
                    }
                    </li>
                    <li class="list-group-item" style="border:none;">
                        <strong>VIP：</strong>@Model.VIPLevel
                    </li>
                    <li class="list-group-item" style="border:none;">
                        <strong>签到天数：</strong>@Model.SignCount
                    </li>
                    <li class="list-group-item" style="border:none;">
                        <strong>在线时间：</strong>@Model.LoginTime
                    </li>
                    <li class="list-group-item" style="border:none;">
                        <strong>最近登录：</strong>@Model.LoginIP
                    </li>
                    <li class="list-group-item" style="border:none;">
                        <strong>最新发表：</strong>@Model.UserName
                    </li>
                </ul>
            </div>
        </div>
        <div id="myTabContent" class="tab-content col-md-9 col-xs-9 col-sm-9" style="height:300px;overflow:hidden; border:1px solid #e8e8e8;">
            <product-show-comp v-bind:post="posts">

            </product-show-comp>
            <div class="col-md-12">
                <table class="table table-hover table-success">
                    <tbody>
                        <tr v-for="(facility,index) in facilities">
                            <td>
                                <a :href="'../GameStrategiesShow?Id='+facility.Id" style="display:block;">
                                    {{facility.Title}}
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>

    </div>
    <div id="app3" class="row">

        <div id="myTabContent1" class="tab-content col-md-12 col-xs-12 col-sm-12" style="min-height:300px; border:1px solid #e8e8e8;">
            <Image-show-comp v-bind:post="posts1">

            </Image-show-comp>
            <ul class="list-group col-md-12 col-xs-12 col-sm-12">
                <li v-for="(item,index) in facilities1" class="list-group-item" style="float:left;">
                    <div class="Item-img">
                        <img :src="item.ImgDescUri" alt=" " />
                        <div class="cover">
                            <div class="opacity">
                                <div class="info">
                                    <a :href="item.targetUri" class="sw-btn" target="_blank">前去玩耍</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Item-content">
                        <span class="grade-tag">星级:{{item.grade}}</span>
                        <p> {{item.ItemName}}</p>
                        <p>运营商:<span class="yunying-tag">{{item.supporter}}</span></p>
                    </div>
                </li>
            </ul>


        </div>

    </div>

</div>

<script>
    (function () {

        Vue.component("product-show-comp", {
            props: ['post'],

        template: `
            <div v-bind:id=post.containerId>
            <ul v-bind:id=post.tabid class= "nav nav-tabs">
            <li role="presentation" v-for="item in post.tabitems" v-bind:key="item.id" v-bind:class="{ active: item.isActive }"  v-show="post.tabitems.length!=0" >
            <a v-bind:href=item.targetid  data-toggle="tab" v-on:click="OnChange(item)">{{item.text}}</a></li></ul><a href="../MyGameStrategies" class="more-a"></a>
            </div>`,
            methods: {
                OnChange: function (e) {
                    var ntype = -1;
                    $.each(this.post.tabitems, function (i, item) {
                        if (item.targetid === e.targetid) {
                            ntype = i;
                            return false;
                        }
                    });
                    $.ajax({
                        url: "../personal/MyStoreGame",
                        type: "post",
                        dataType: "json",
                        data: { type: ntype },
                        success: (arrdata) =>{
                            if (arrdata != null) {
                                this.$parent.facilities = arrdata;
                            }

                        }
                    });
                }

            }
        });
        Vue.component("image-show-comp", {
            props: ['post'],

            template: `
            <div v-bind:id=post.containerId>

            <ul v-bind:id=post.tabid class= "nav nav-tabs">
            <li role="presentation" v-for="item in post.tabitems" v-bind:key="item.id" v-bind:class="{ active: item.isActive }"  v-show="post.tabitems.length!=0" >
            <a v-bind:href=item.targetid  data-toggle="tab" v-on:click="OnChange(item)">{{item.text}}</a></li></ul><a href="../MyGameCenter" class="more-a"></a>
            </div>`,
            methods: {
                OnChange: function (e) {
                    var ntype = -1;
                    $.each(this.post.tabitems, function (i, item) {
                        if (item.targetid === e.targetid) {
                            ntype = i;
                            return false;
                        }
                    });
                    $.ajax({
                        url: "../personal/MyGames",
                        type: "post",
                        dataType: "json",
                        data: { type: ntype },
                        success: (arrdata)=> {
                            if (arrdata != null) {
                                this.$parent.facilities1 = arrdata;
                            }

                        }
                    });
                }

            }
        });
       //----------------------------
        var datas = [];
        var app = new Vue({

            el: '#app',
            data: {
                checkAll: false,
                checkedRows: [],
                facilities: datas,
                facilities1: [],
                CenterNews: [],
                posts: {
                    containerId: '456',
                    tabid:'7777',

                    tabitems: [
                        {
                        id: 'jhh789jk',
                        targetid: '#home',
                        text: '收藏的所有攻略',
                        isActive:true,
                        },
                        {
                            id:'jhhjkqq',
                            targetid: '#web',
                            text: '页游攻略',
                            isActive: false,
                        },
                        {
                            id: 'jhhjk232',
                            targetid: '#app',
                            text: 'App攻略',
                            isActive: false,
                        },
                    ]
                },
                posts1: {
                    containerId: '456',
                    tabid: '7777',

                    tabitems: [
                        {
                            id: 'jhh789jk',
                            targetid: '#home',
                            text: '收藏的所有游戏',
                            isActive: true,
                        },
                        {
                            id: 'jhhjk',
                            targetid: '#web',
                            text: '页游',
                            isActive: false,
                        },
                        {
                            id: 'jhhj0k',
                            targetid: '#app',
                            text: 'APP游戏',
                            isActive: false,
                        },
                    ]
                }
            },
            methods: {
                addRow: function () {
                    this.facilities.push(this.newRow);
                    this.newRow = {};
                },
                saveRows: function (e) {//保存表格数据
                    this.facilities.push(e);
                },
                delRows: function () {
                    if (this.checkedRows.length <= 0) {
                        alert("您未选择需要删除的数据");
                        return false;
                    }
                    if (!confirm("您确定要删除选择的数据吗？")) {
                        return false;
                    }

                    for (var i = 0; i < this.checkedRows.length; i++) {
                        var checkedRowIndex = this.checkedRows[i];
                        this.facilities = $.grep(this.facilities, function (facility, j) {
                            return j != checkedRowIndex;
                        });
                    }
                    this.checkedRows = [];
                },
                showItem: function (id) {
                    $(location).attr('href', '../GameStrategiesShow?Id='+id);
                    return false;
                },
                showNewsItem: function (id) {
                    $(location).attr('href', '../NewsCenter/showDetail?newsId=' + id);
                    return false;
                }
            },
            mounted:function() {
                //----游戏攻略分享
                $.ajax({
                    url: "../personal/MyStoreGame",
                    type: "post",
                    dataType: "json",
                    data: { type: 0 },
                    success: (arrdata)=> {
                        if (arrdata != null) {
                            this.facilities = arrdata;
                        }

                    }
                });
                $.ajax({
                    url: "../personal/MyGames",
                    type: "post",
                    dataType: "json",
                    data: { ntype: 0 },
                    success: (arrdata)=> {
                        if (arrdata != null) {
                            this.facilities1 = arrdata;
                        }

                    }
                });
                
            }


        });

    })()
</script>