
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <link rel="shortcut icon" href="../../common/css/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="../../common/css/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Game,游戏分享平台,数据分享平台,ehaiker" />
    <meta name="description" content="ehaiker是一个网络游戏分享平台，通过对游戏进行多维度的数据分析，让用户能在充分了解游戏过程中的难点与收益时效，为用户的“投资决策”提供必要的数据解决方案." />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <style>
        .body-content {
            margin-top: 30px;
        }
    </style>
    <link rel="stylesheet" href="../../common/css/common.nav.css" />
    <script charset=utf-8 language=javascript src="../common/js/jquery.min.js"></script>
    <script charset=utf-8 language=javascript src="../../Scripts/EASYUI/jquery.easyui.min.js"></script>
    <script charset=utf-8 language=javascript src="../../common/js/common.nav.js"></script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navHome">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("www.ehaiker.com", "Index", "EHaiker", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="navHome">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "EHaiker")</li>
                    <li>@Html.ActionLink("游戏攻略", "Index", "GameStrategies")</li>
                    <li>@Html.ActionLink("游戏集萃", "Index", "GameCenter")</li>
                    <li>@Html.ActionLink("公告中心", "Index", "NewsCenter")</li>
                    <li>@Html.ActionLink("管理员登录", "Index", "AdminLogin")</li>
                    <li>@Html.ActionLink("客服中心", "Index", "Servicescenter")</li>
                    <li>@Html.ActionLink("个人中心", "Index", "Personal")</li>
                    <li>@Html.ActionLink("下载中心", "Index", "Downloadcenter")</li>
                    <li><div class="guanzhumenu" id="guanzhumenu">
                        关注微信
                        <div class="guanzhuBox" id="guanzhuBox">
                            <i class="sj">
                                <i class="c-sj"></i>
                            </i>
                            <img src="/common/public/wx_gzhu.jpg" alt="" >
                        </div>
                    </div>
                    </li>
                </ul>
            </div>


        </div>
    </div>
    <!--中心页面-->
    <div class="container body-content">
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/vue")
        @RenderBody()
        <hr />


    </div>
    @Html.Partial("FooterBlock")

    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
