@model ehaiker.Auth.Permission

@{
    Layout = "_ManagerTop";
    ViewData["Title"] = "Details";
}

<div>
    <h4>Permission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GlobalNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GlobalNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChineseActionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChineseActionName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Controller)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Controller)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Action)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Action)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isGet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isGet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShowInManagerBar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShowInManagerBar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VisitLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VisitLevel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">编辑</a> |
    <a asp-action="Index">返回列表</a>
</div>
