@model IEnumerable<ehaiker.Auth.Permission>

@{
    ViewData["Title"] = "权限管理";
}

<h2 style="margin-top:30px;">Index</h2>
<p >
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GlobalNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChineseActionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Controller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isGet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowInManagerBar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GlobalNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChineseActionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Controller)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td class="smallcol-bigcontent">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isGet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowInManagerBar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitLevel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">编辑</a> |
                <a asp-action="Details" asp-route-id="@item.Id">详细</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
